@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7y85lj');
  src:  url('../fonts/icomoon.eot?7y85lj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7y85lj') format('truetype'),
    url('../fonts/icomoon.woff?7y85lj') format('woff'),
    url('../fonts/icomoon.svg?7y85lj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-arrow .path1:before {
  content: "\e901";
  color: rgb(0, 0, 0);
}
.icon-arrow .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-minus:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-bag:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-lock:before {
  content: "\e907";
}

